<!DOCTYPE html>
<html lang=en>
  <head>
      <!-- None of this is required for the payment wall. It's just here for the fake shop style. -->
      <title>Example Shop</title>
      <meta charset=utf-8>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
      <meta http-equiv=X-UA-Compatible content="IE=edge">
      <meta name=viewport content="width=device-width,initial-scale=1">
      <!-- End not-integration scripts. -->

      <!-- Include Payment Wall scripts -->
      <script src="{{environment_url}}pwall_sdk/pwall_sdk.bundle.js"></script>
      <link href="{{environment_url}}pwall_app/css/app.css" rel=stylesheet>
      <!-- End of Payment Wall scripts -->
  </head>

  <body>
      <script>
      document.addEventListener('payment_wall_load', function(){
          document.getElementById('app').addEventListener("payment_wall_loaded", function(){
            // These two events are not required. They will add
            // test_header and test_data respectively to ALL requests done to
            // the "actions" endpoint so you can pass data back to the backend part.
            document.getElementById('app').dispatchEvent(new CustomEvent('payment_wall_set_extra_headers', {detail: {test_header: "data"}}));
            document.getElementById('app').dispatchEvent(new CustomEvent('payment_wall_set_extra_data', {detail: {test_data: "data"}}));

            document.getElementById('app').addEventListener(
              'payment_wall_payment_ok',
              function(ev) {
                  // This is NOT required, it ilustrates how you can use ev.detail.payload
                  // on a payment_ok result to show operation results
                  document.getElementById('result').style.display = "block";
                  document.getElementById('masked_card').innerHTML = ev.detail.payload.masked_card;


                  // Usually, you would redirect to another page to show cart
                  // status and other extra information
                  window.location.href = "/results/";
              });
            });
      });
      </script>
      <h1 class=text-center style="font-family:Roboto; font-size:5em"><a href=/>Example shop</a></h1> <br/> <hr/> <br/>
      <div class=container>
        <div class=row>
          <div class=col-md-6>
            <p>Payment processed, redirecting to final step</p>
            <table id=result class="table table-dark" style="display: none">
              <tr><td>Tarjeta</td><td id=masked_card></td></tr>
            </table>
          </div>
          <div class=col-md-6>
            <div id=app></div>
          </div>
        </div>
      </div>

      <!-- Include payment wall app script. /actions/ is the actions endpoint -->
      <script data-url="/actions/" data-amount="3000" data-currency="EUR"
              data-placeholder="#app"
              src="{{environment_url}}pwall_app/js/app.js"></script>

      <script>
        // After you can be sure the placeholder is loaded in the DOM, launch
        // payment_wall_load_app event to load the application on document.
        document.dispatchEvent(new Event('payment_wall_load_app'))

        {% if result %}
          // THIS IS REQUIRED for all integrations.
          // This makes all redirect-based methods to finish its operation
          document.getElementById('app').addEventListener(
            'payment_wall_drawn',
            function(ev) {
              document.getElementById('app').dispatchEvent(
                new CustomEvent('payment_wall_process_redirect', {detail: {{result|safe}}})
              );
            });
          {%endif%}
      </script>

      <hr/><br/>
      <div class=container>
          <h3 class=text-center><a href="/backoffice/">Configuración de la tienda</a></h3>
      </div>
  </body>
</html>
